<div class="header">
	<div class="container hundred_height">
		<div class="row hundred_height align-items-center justify-content-md-center">
			<!-- <div class="col-md-12 col-lg-6" id="accroche"> -->
			<!-- </div> -->
			<!-- <div class="col-md-12 col-lg-6" id="cta_header"> -->
			<div class="col-sm-12 col-md-6 card" id="cta_header">
				<h1>La solution de rédaction de documents universitaires</h1>
				<div class="form-group">
					<label for="email">Adresse email</label>
					<input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="jean.valjean@hotmail.fr">
					<small id="emailHelp" class="form-text text-muted">Nous ne partagerons jamais ton email <a href="#">voir notre charte</a></small>
				</div>
				<div class="form-group">
					<select class="custom-select" id="inputGroupSelect01">
						<option selected>Je dois rédiger un/une...</option>
						<option value="1">mémoire</option>
						<option value="2">rapport de stage</option>
						<option value="2">dissertation</option>
						<option value="3">autre...</option>
					</select>
				</div>
				<div class="form-group">
					<button class="btn btn-primary" type="button">commencer à rédiger</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container fifty_height argumentation">
	<!-- <div class="twenty_height"></div> -->
	<div class="row hundred_height align-items-center">
		<div class="col">
			<h2 class="text-center h1">Pour une rédaction <b>simple</b>, <b>rapide</b> et de <b>qualité</b></h2>
			<p class="text-center">Rédigez plus vite et plus simplement. Profitez de l'expériences de milliers d'autres étudiants qui sont passé par là</p>
			<hr>
		</div>
	</div>
	<!-- <div class="twenty_height"></div> -->
</div>
<div class="container">
	<div class="embed-responsive embed-responsive-16by9">
	  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8jPQjjsBbIc" allowfullscreen></iframe>
	</div>
</div>
<div class="container fifty_height argumentation">
	<!-- <div class="twenty_height"></div> -->
	<div class="row hundred_height align-items-center">
		<div class="col-md">
			<h2>Des conseils et astuces tout au long de la rédaction</h2>
			<p>De l'idée, la rédaction, au rendu final du document. Rédact'Aide vous aide tout au long de la création de votre mémoire / rapport de stage / ou tout autre documents</p>
		</div>
		<div class="col-md">
			<img class="img-fluid" src="https://scribay.s3.amazonaws.com/home/home1.jpg" alt="" >
		</div>
	</div>
</div>
<div class="container fifty_height argumentation">
	<!-- <div class="twenty_height"></div> -->
	<div class="row hundred_height align-items-center">
		<div class="col-md">
			<img class="img-fluid" src="https://scribay.s3.amazonaws.com/home/home2.jpg" alt="" >
		</div>
		<div class="col-md">
			<h2>Une structure de départ</h2>
			<p>Utilisez l'une des différentes structure proposé pour mettre le pied à l'étrier plus rapidement. Plus de souci de structure, notre solution vous poermet de vérifier à chaque instant la hierarchisation des informations.</p>
		</div>
	</div>
</div>
<div class="container fifty_height argumentation">
	<!-- <div class="twenty_height"></div> -->
	<div class="row hundred_height align-items-center">
		<div class="col-md">
			<h2>Une bibliothèque de ressources partagée</h2>
			<p>Accédez aux ressources que d'autres ont déjà trouvés sur votre sujet. Trouvez des idées innovantes ou des ressources précieuse à citer dans votre document</p>
		</div>
		<div class="col-md">
			<img class="img-fluid" src="http://www.clipular.com/c/5710490135953408.png?k=9XGzXqsYsdSJRrhZVGmWCx2_2JE" alt="" >
		</div>
	</div>
</div>
<div class="container fifty_height argumentation">
	<!-- <div class="twenty_height"></div> -->
	<div class="row hundred_height align-items-center">
		<div class="col-md">
			<img class="img-fluid" src="https://scribay.s3.amazonaws.com/home/home9.jpg" alt="" >
		</div>
		<div class="col-md">
			<h2>Sachez ou vous en êtes à tout moment</h2>
			<p>L'application vous donne accès à différentes information : </p>
			<ul>
				<li>La date de livraison estimé du mémoire</li>	
				<li>La productivité depuis le début de la rédaction</li>
				<li>Le nombre de parties du document et le nombre de mots par parties</li>
				<li>...</li>
			</ul>
		</div>
	</div>
</div>