<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title><%= title %></title>
		<!-- FAVICON -->
		<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<% if(css_files != undefined) { for (var i = 0; i < css_files.length; i++) { %>
			<link rel="stylesheet" type="text/css" href="/css/<%= css_files[i] %>">
		<% } } %>
	</head>
	</head>
	<body>
		<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">Rédact'Aide</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					<!-- <li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Documents
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="#">Mémoire</a>
							<a class="dropdown-item" href="#">Rapports de stage</a>
							<a class="dropdown-item" href="#">Exposés</a>
							<a class="dropdown-item" href="#">Autre...</a>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Tarifs</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Blog</a>
					</li> -->
					<li class="nav-item">
						<a class="nav-link " href="#">connexion</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " href="#">inscription</a>
					</li>
				</ul>
			</div>
		</nav>		
		<%- include(path) %>
		<footer class="fifty_height deep-purple text-white">
			<div class="container hundred_height">
				<div class="row hundred_height align-items-center">
					<div class="col">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum voluptas facere deserunt eos maxime cupiditate in, ullam enim nisi vero nam ex consequuntur. Maxime, dolorum odio fugit et atque, optio!</p>
					</div>
					<div class="col">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo nobis quaerat iste doloribus sunt, tempore rem magni praesentium voluptas quo culpa quas sint fugiat veritatis architecto, adipisci expedita nam commodi.</p>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>
<% if(jss_files != undefined) { for (var i = 0; i < jss_files.length; i++) { %>
	<script src="/js/<%= jss_files[i] %>"></script>
<% } } %>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>