.header{
	background-image: url("/images/static/header.jpg");
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	height: 100%;
	text-align: center;
}
.header h1{
	background-color: white;
	font-size: 2em;
	color: #2c3e50;
	padding: 20px;
}
.header #accroche{
	/* position: relative; */
	/* margin-top: 32%; */
}
.header #cta_header{
	position: relative;
}

.header #cta_header button{
	/* background-color: #007bff; */
	/* border-color: #007bff; */
}
.argumentation{
	min-height: 500px;
	max-height: 800px;
}

@media screen and (min-width: 992px) {
	.header #cta_header{
		 /* margin-top: 35%; */
	} 
}