<br>
<br>
<br>
<div class="hundred_height">
	<div class="row">
		<div class="col-sm-12 col-md-3 margin_auto">
			<div class="container">
				<div class="card padding">
					<h4>documents</h4>
					<ul>
						<li>Document 1</li>
						<li>Document 2</li>
					</ul>
					<hr>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-9 text-center margin_auto">
			<div class="container" id="newPost">
				<div class="card padding">
					<h1 class="h1">New Post</h1>
					<div class="mdl-card__supporting-text mdl-color-text--grey-600">
						<form id="message-form" action="#">

							<fieldset class="form-group">
								<label for="Input title">Titre de la partie</label>
								<input type="text" class="form-control" id="Input title" placeholder="Enter email">
								<small class="text-muted">sdfsdfs</small>
							</fieldset>
							<fieldset class="form-group">
								<label for="ckediteur">Example textarea</label>
								<textarea class="form-control" name="ckediteur" id="ckediteur" rows="3"></textarea>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
			<div class="container" id="updatePost">
				<div class="card padding">
					<h1 class="h1" id="">New Post</h1>
					<div class="mdl-card__supporting-text mdl-color-text--grey-600">
						<form id="message-form" action="#">

							<fieldset class="form-group">
								<label for="Input title">Titre de la partie</label>
								<input type="text" class="form-control" id="Input title" placeholder="Enter email">
								<small class="text-muted">sdfsdfs</small>
							</fieldset>
							<fieldset class="form-group">
								<label for="ckediteur">Example textarea</label>
								<textarea class="form-control" name="ckediteur" id="ckediteur" rows="3"></textarea>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="//cdn.ckeditor.com/4.5.10/standard/ckeditor.js"></script>
<script>
	// initialisation CKEDITOR
	CKEDITOR.replace('ckediteur');
</script>