<div class="container hundred_height">
	<div class="row hundred_height align-items-center">
		<div class="col-sm-12 col-md-6 text-center margin_auto">
			<div class="card padding">
				<h1 class="h1">New Post</h1>
				<div class="mdl-card__supporting-text mdl-color-text--grey-600">
					<form id="message-form" action="#">
						<form>
							<fieldset class="form-group">
								<label for="Input title">Titre du post</label>
								<input type="text" class="form-control" id="Input title" placeholder="Enter email">
								<small class="text-muted">sdfsdfs</small>
							</fieldset>
							<fieldset class="form-group">
								<label for="exampleTextarea">Example textarea</label>
								<textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
							</fieldset>
							<button type="submit" class="btn btn-primary">Submit</button>
						</form>
						<!-- <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
							<input class="mdl-textfield__input" type="text" id="new-post-title">
							<label class="mdl-textfield__label" for="new-post-title">Post title...</label>
						</div>
						<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
							<textarea class="mdl-textfield__input" rows="3" id="new-post-message"></textarea>
							<label class="mdl-textfield__label" for="new-post-message">Post message...</label>
						</div> -->
<!-- 						<button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
							Add post
						</button> -->
					</form>
				</div>
			</div>
		</div>
	</div>
</div>