<div class="container hundred_height">
	<div class="row hundred_height align-items-center">
		<div class="col-sm-12 col-md-6 text-center margin_auto">
			<div class="card padding">
				<h1 class="h3">Vous avez bien été déconnecté !</h1>
				<p>Vous pouvez retourner <a href="/">sur la page d'accueil</a></p>
			</div>
		</div>
	</div>
</div>